<div id="nav-menu">
    <ul class="x-nav-menu">
        <li>@Html.ActionLink(GeneralResource.Rules, "Rules")</li>
        <li>@Html.ActionLink(GeneralResource.Reserve, "Reserve")</li>
        <li>@Html.ActionLink(GeneralResource.Visualization, "Visualization")</li>
        <li>@Html.ActionLink(GeneralResource.AnniversaryHistory, "AnniversaryHistory")</li>
        <li>@Html.ActionLink(GeneralResource.Contact, "Contact")</li>
        <li style="float: right;">@Html.RouteLink("Geo", new { lang = "ka-GE" }) / @Html.RouteLink("Eng", new { lang = "en-US" })
        </li>
    </ul>
</div>
