<div id="nav-menu">
    <ul class="x-nav-menu">
        <li>@Html.ActionLink(GeneralResource.DayAnniversary, "Index", "Home")</li>
        <li>@Html.ActionLink(GeneralResource.Rules, "Rules", "Home")</li>
        <li>@Html.ActionLink(GeneralResource.Reserve, "Reserve", "Home")</li>
        <li>@Html.ActionLink(GeneralResource.Visualization, "Visualization", "Visualization")</li>
        <li>@Html.ActionLink(GeneralResource.AnniversaryHistory, "AnniversaryHistory", "Home")</li>
        <li>@Html.ActionLink(GeneralResource.Contact, "Contact", "Home")</li>
        <li style="float: right;">@Html.RouteLink("Geo", new { lang = "ka-GE" }) / @Html.RouteLink("Eng", new { lang = "en-US" })
        </li>
    </ul>
</div>
