@model IEnumerable<Birthday.Web.Models.Day>

<div id="reserve-schedule">
    <ul class="x-day-list">
        @foreach (var item in Model)
        {
            <li>
                <div class="x-date-box @(!item.Reserved ? "f-reserve" : string.Empty) @(item.Reserved ? "reserved" : string.Empty)"
                    data-day="@item.Date.ToString(System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern)" 
                    data-name="@item.Date.ToString("dd MMMM")">
                    <span class="day">@item.Date.Date.Day</span>
                    <span class="month">@item.Date.ToString("MMM", System.Globalization.CultureInfo.CurrentCulture)</span>
                </div>
            </li>
        }
    </ul>
</div>
