@model Birthday.Web.Models.ReserveInfo
@{
    ViewBag.Title = GeneralResource.ReserveDay;
    ViewBag.TitleCss = "reserve";
}
<div id="reservation">
    @{ Html.RenderAction("ReserveDays"); }
    @using (Ajax.BeginForm("Reserve", "Home", ajaxOptions: new AjaxOptions() { UpdateTargetId = "reservation" }))
    {
        <div class="x-form">
            <ul>
                <li>
                    <span class="date-text text"></span>
                </li>
                <li>
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email)
                    @Html.ValidationMessageFor(x => x.Email)
                </li>
                <li>
                    @Html.LabelFor(x => x.FirstName)
                    @Html.TextBoxFor(x => x.FirstName)
                    @Html.ValidationMessageFor(x => x.FirstName)
                </li>
                <li>
                    @Html.LabelFor(x => x.LastName)
                    @Html.TextBoxFor(x => x.LastName)
                    @Html.ValidationMessageFor(x => x.LastName)
                </li>
                <li>
                    @Html.CheckBoxFor(x => x.Confirm)
                    <label for="Confirm">@GeneralResource.IAgreeToSites <a href="#">@GeneralResource.ToRulesAndConditions</a></label>
                </li>
            </ul>
            @Html.HiddenFor(x => x.Date)
            <div class="pnl-actions">
                <input type="button" value="Cancel" class="x-button cancel" />
                <input type="submit" value="Reserve" class="x-button reserve" />
            </div>
        </div>
    }
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $.validator.setDefaults({
                ignore: ""
            });

            $('.f-reserve').click(function () {
                var $t = $(this);
                var day = $t.data('day');
                var name = $t.data('name');
                var title = formatString('@GeneralResource.YouChose', [name]);

                $('#Date').val(day);
                $('.date-text').text(title);

                deselectDay();
                $t.addClass('active');

                $('form').show();
            });

            $('form .x-button.cancel').click(function () {
                deselectDay();
                $('form').hide();
            });

            function deselectDay() {
                $('.x-date-box').removeClass('active');
            }
        });
    </script>
}
