@model Birthday.Web.Models.VisualizationViewModel

@{
    ViewBag.Title = "Visualization";
}
@Html.DropDownListFor(x => x.TemplateID, Model.TemplateList, "Choose template")
<div>
    @if (Model.TemplateID.HasValue)
    {
        <form method="post">
            @Html.Raw(Model.Html)

            @for (var i = 0; i < Model.ImageProps.Count; i++)
            {
                @Html.HiddenFor(x => x.ImageProps[i].Index)
                @Html.HiddenFor(x => x.ImageProps[i].Left)
                @Html.HiddenFor(x => x.ImageProps[i].Top)
                @Html.HiddenFor(x => x.ImageProps[i].Width)
            }
            @for (var i = 0; i < Model.Texts.Count; i++)
            {
                @Html.HiddenFor(x => x.Texts[i].Index)
                @Html.HiddenFor(x => x.Texts[i].Text)
            }
            <input type="submit" value="@GeneralResource.Save" />
        </form>
    }
    else
    {
        <h1>Please choose a template</h1>
    }
</div>

<div id="upload-section" style="display: none;">
    @using (Html.BeginForm("imageupload", "visualization", FormMethod.Post, htmlAttributes: new { id = "img-upload-form" }))
    {
        <input type="file" name="name" /><input id="imageUpload" type="submit" value="Upload" />
        @Html.Hidden("ImageIndex")
    }
</div>

@if (Model.TemplateID.HasValue)
{
    @section styles
    {
        <link href="@Url.Content("~/Content/templates/main.css")" rel="stylesheet">
        <link href="@Url.Content(string.Format("~/Content/templates/{0}/style.css", Model.TemplateName.ToLower()))" rel="stylesheet">
    }
}
@section scripts
{
    @Scripts.Render("~/bundles/imagetools")
}